
.navbar {
  display: flex;
  align-items: center;
  position: fixed;
  background-color: #212121;
  top: 0;
  width: 100%;
  flex-wrap: wrap;
  z-index: 5;
  padding: 5px;
}


.filler {
  flex-grow: 1;
}


.navcontainer {
  display: flex;
  width: 95%;
  margin: auto;
  align-items: center;
}